/* margin 0 and 8 respectively in the two body selectors allow for any element to not
have a margin by applying "margin: 0" to any element, while the "margin: 8px" allows
for all elements to have standard margins applied. */
body {
    background-color: #FFFFFF;
    color: #111111;
    margin: 0;
}

body>* {
    /* default value of margin in CSS */
    margin: 8px;
}

div.card {
    border: 1px solid #e5e5e5;
    flex: 1;
    margin: 1rem 1rem 1rem 1rem;
    padding: 0rem 1rem 1.5rem 1rem;
    text-align: center;
    width: 16rem;
}

div.card h2 {
    width: 100%;
}

header {
    align-items: center;
    background-color: #111111;
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin: 0;
}

header div {
    display: block;
}

span.highlight {
    color: #990100;
}

span.job-role {
    color: #5b5b5b;
    display: block;
}

div#pitch-elevator {
    background-color: #f5f5f5;
    border: 2px solid #e5e5e5;
    display: flex;
    margin: 0 0 3.5rem 0;
    padding: 10rem;
    align-items: center;
    justify-content: center;
}

/* SEO determines we can't use more than one h1 on a page */
.false-h1 {
    font-size: 2em;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 0 1rem 0 1rem;
}

#contact a {
    color: #990100;
    border: 2px solid #990100;
    font-size: 1.5rem;
    padding: 5px;
    text-decoration: none;
    white-space: nowrap;
}

#contact a:hover {
    color: #da0000;
}

@media (max-width: 900px) {
    .wrapper {
        align-items: center;
        display: flex;
        flex-flow: column wrap;
    }
  }